[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
openai = "==1.45.0"
currencyconverter = "==0.17.17"
gunicorn = "==23.0.0"

[dev-packages]

[requires]
python_version = "3.12"
